@mixin btn {
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 2px;
  margin-right: -2px;
}

.between {
  min-height: 65vh;
  display: flex;
  align-items: center;
}

.image-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.restaurant-info {
  text-align: center;
}

.restaurant-description {
  margin-bottom: 3rem;
}

.padding-right {
}

.animate-left {
}
