:root {
  --primary-font: 'Source Sans Pro', sans-serif !important;
  --secondary-font: 'Herr Von Muellerhoff', cursive !important;
  --body-font: 'Cabin', sans-serif !important;

  --primary-color: #2f7208 !important;
  --secondary-color: #252525 !important;

  --primary-font-color: #515151 !important;
  --secondary-font-color: #fff !important;

  --footer-bg-color: #121212 !important;

  --section-padding: 2.2rem 1.8rem;
  --bloc-padding: 2.4rem;
  --element-spacing: 1.2rem;
}
