@import './_variables';

@import '~bootstrap/scss/bootstrap-grid';

@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Herr+Von+Muellerhoff&family=Source+Sans+Pro:wght@400;900&display=swap');

:root {
  --main-font: 'Source Sans Pro', sans-serif;
  --secondary-font: 'Herr Von Muellerhoff', cursive;
  --body-font: 'Cabin', sans-serif;
  --main-font-color-dark: #252525;
  --secondary-font-color: #c59d5f;
  --footer-color: #121212;
  --body-font-color: #515151;
  --section-padding: 2.2rem 1.8rem;
  --bloc-padding: 2.4rem;
  --element-spacing: 1.2rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

html {
  font-size: clamp(16px, 4vw, 22px);
  font-family: var(--body-font);
  color: var(--body-font-color);
  scroll-behavior: smooth;
}

h1 {
  color: #fff;
  font-size: 3.1rem;
  font-family: var(--main-font);
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 5px;
  margin-right: -5px;
}

h2 {
  font-size: 4.2rem;
  font-family: var(--secondary-font);
  color: var(--secondary-font-color);
  font-weight: 600;
  line-height: 0.4;
  letter-spacing: 2px;

  &::first-letter {
    text-transform: uppercase;
    font-size: 5rem;
  }
}

.container {
  max-width: 1140px !important;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  font-size: 1rem;
  line-height: 2rem;
}

@media only screen and (max-width: $sm) {
  html {
    font-size: 10px;
  }
}

@media only screen and (min-width: $md) {
  html {
    font-size: 12px;
  }
}

@media only screen and (min-width: $lg) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: $xl) {
  html {
    font-size: 16px;
  }
}
