@import '../styles/_variables';

footer {
  padding: var(--section-padding);
  background-color: var(--footer-bg-color);
  color: var(--secondary-font-color);
  text-align: center;
  position: relative;

  h4 {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
  }

  .headline-separator {
    color: var(--primary-color);
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: center;

    a {
      padding: 0.8rem;
    }

    .social-icon {
      width: 1.6rem;
      height: 1.6rem;
      color: var(--secondary-font-color);
      opacity: 0.5;
      transition: color 0.5s;

      &:hover,
      &:focus {
        color: var(--primary-color);
      }
    }
  }

  form {
    padding: var(--v-padding) 0;
    position: relative;
    display: flex;
    justify-content: center;

    input {
      width: 100%;
      max-width: 25rem;
      padding: 1rem;
      border-radius: 0.4rem;
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: var(--secondary-color);
      font-size: 1.6rem;
      padding: 1px 0.6rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 10.5rem;
    }
  }
}

@media screen and (min-width: $md) {
  .footer {
    margin: auto;
  }

  .social-icon {
    opacity: 1;
  }
}

@keyframes up {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}
