.back-to-top {
  width: 4rem;
  height: 4rem;
  background-color: var(--footer-color);
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;

  a {
    color: white;
  }

  .chevron {
    font-size: 1rem;
    cursor: pointer;
    margin: 1rem;
    animation: up 2s infinite;
  }
}
